body{
font-family:Arial;
background:#f4f6f8;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

.cards{
display:flex;
gap:20px;
margin-top:40px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
width:200px;
text-align:center;
}

a{
text-decoration:none;
color:white;
background:#007bff;
padding:10px 15px;
border-radius:5px;
display:inline-block;
}
